# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
_bin

# Test binary, build with `go test -c`

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

#config files
./config.yaml

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
_.yaml
.vscode

_tmp/
tmp/